* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin:0px;
    
}
body{
    background-color:#f3f3f3;
}

header {
    background-color: #51785f;
    color: #fff;
    text-decoration: none;
    padding: 10px;

}

header span{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    flex-wrap:nowrap;
}
header span h2{
    padding: 10px;

}

span ul li a, span ul li{
    
    text-decoration: none;
    color:#fff;
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
    
}

span ul li a:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  color:#154231;
  background-color:#154231;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

span ul li a:hover:before  {
    color:#154231;
    text-decoration: underline;
    transition: 0.5s;
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
span ul li a:hover {
    color:#154231;
}

section {
    margin: 3% 9%;
    background-color: #fff;
    padding: 35px;
    border: 2px solid #d1d1d1;
    height:100%;
}

section h2,p{
    padding: 15px 0;
}

img {
    width:80%;
    height:80%;
}

footer {
    background-color:#28362d;
    color:#fdfbc7;
    display:flex;
    justify-content:space-around;
    padding: 3rem;
}




form input{
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #dfdfdf; 
    padding:0.5rem;
    width: 310px;
}

form button{
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #dfdfdf; 
    padding:0.5rem;
    width: 310px;
    border: 1px solid #024722; 
    cursor: pointer;
    color:#024722;
    background-color:#fff;
    width: 330px;
    transition: 0.7s
}

form button:hover{
    border: 1px solid #024722; 
    cursor: pointer;
    color:#fff;
    background-color:#024722;
    
}


form textarea {
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #dfdfdf; 
    padding:0.5rem;
    width: 310px; height: 150px
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
/*Contato*/
 /*Resposividade*/
@media (min-width:1200px) {
    #contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#map {
    width:550px;
}
}

/*Modal*/

body {
    display: flex;
    flex-direction: column;
}
.login {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.login-content {
    margin: 0 auto;
    margin-top: 12%;
    max-width: 600px;
    height: 500px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 2px #eee;
    justify-content:;
    flex-direction: row;
    display: flex;
    padding:5x;
    
}

#close {
    background-color: #fff;
    transform: rotate(45deg);
    font-size: 36px;
    border: none;
    margin: 0px;
    outline: none;
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor: pointer;
}

#entrar {
    align-items: center;
    text-align:center;
    padding:18% 20%;
    
}

#entrar a{
    text-decoration: none;
    color:#28362d;
    
}


#entrar form{
    padding-bottom: 10px;
    
}

